.container {
  background-color: white;
  border-radius: 5px;
  margin: 10px 0;
  width: 70vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 89vh;
  text-align: center;
}

.title {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 20px;
}

.subtitle {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  margin: 20px 0 10px;
}

.description,
.text {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  margin-bottom: 15px;
  line-height: 1.5;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #1c5498;
  border-radius: 4px;
}
