.navContainer {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 0 10px;
}

.logoSection {
  display: flex;
  flex-direction: row;
}

.logoSection img {
  height: 70px;
}

.linkSection {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2em;
  color: #1c5498;
}

.linkSection a {
  text-decoration: none;
  color: inherit;
}

.linkSection a:hover {
  color: grey;
  cursor: pointer;
}

.rightSection {
  display: flex;
  align-items: center;
}

.searchContainer {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  margin-right: 10px;
}

.avatarSection {
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
}

.avatarSection img {
  height: 50px;
}
