.centerContainer {
    width: 70vw;
    margin: auto;
}

#cartita{
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    div{
        background-color: green;
        margin: 8px;

    }
}
